In [2]:
import os
import pandas as pd
import re

path = os.path.abspath("/group/ag_abi/seiler/caroline_SRA/kmer_counts/")

In [3]:
row_list = []
for k in [19,20]:
    for w in [k, 23, 24, 25, 26, 27, 40, 41, 42, 43, 44, 45]:  
        filename = os.path.join(path, "{}_{}_dna5.tsv".format(k, w))
        with open(filename, "r") as f:
            for line in f:
                row_dict = {}
                [binNo, count] = line.strip().split('\t')
                if binNo != "Overall":
                    binNo = int(binNo)
                row_dict["k"] = k
                row_dict["w"] = w
                row_dict["bin"] = binNo
                row_dict["count"] = int(count)
                row_list.append(row_dict)

In [6]:
df = pd.DataFrame(row_list)

In [8]:
df = df[["k",
         "w", 
         "bin",
         "count"]]

In [9]:
df

       k   w      bin       count
0     19  19        0   552741476
1     19  19        1   821238780
2     19  19        2   819086104
3     19  19        3   658228852
4     19  19        4   614037574
5     19  19        5   947225721
6     19  19        6   695461645
7     19  19        7   792752184
8     19  19        8   755431515
9     19  19        9   976794379
10    19  19       10   719203533
11    19  19       11   806193625
12    19  19       12  1048226074
13    19  19       13  1096900153
14    19  19       14   881749594
15    19  19       15  1213379469
16    19  19       16  1240762827
17    19  19       17  1034450500
18    19  19       18   584712695
19    19  19       19   523007173
20    19  19       20   484411126
21    19  19       21   423792703
22    19  19       22   365450695
23    19  19       23   317066013
24    19  19       24   477882869
25    19  19       25   922432614
26    19  19       26   446700745
27    19  19       27   378453891
28    19  19       28   464124285
29    19  19       29   497257129
...   ..  ..      ...         ...
1194  20  45       21    30531986
1195  20  45       22    25964932
1196  20  45       23    22976430
1197  20  45       24    34131085
1198  20  45       25    68333745
1199  20  45       26    33586767
1200  20  45       27    27885515
1201  20  45       28    34286779
1202  20  45       29    37006506
1203  20  45       30    71347681
1204  20  45       31    70293091
1205  20  45       32    58051887
1206  20  45       33    60617645
1207  20  45       34    32009475
1208  20  45       35    19787259
1209  20  45       36    25859635
1210  20  45       37    25993826
1211  20  45       38    30987717
1212  20  45       39    23472112
1213  20  45       40    28899537
1214  20  45       41    30046912
1215  20  45       42    33474571
1216  20  45       43    10920690
1217  20  45       44    28756438
1218  20  45       45    63204738
1219  20  45       46    35030281
1220  20  45       47     9701082
1221  20  45       48    36713799
1222  20  45       49    69722740
1223  20  45  Overall   820292268

[1224 rows x 4 columns]

In [10]:
df.to_csv(os.path.join(path, "complete_counts_dna5.tsv"), sep='\t', index=False)

In [12]:
df2 = df[(df.bin == "Overall")]

In [13]:
df2.to_csv(os.path.join(path, "effective_text_sizes_dna5.tsv"), sep='\t', index=False)