In [44]:
import os
import pandas as pd
import re

path = os.path.abspath("/group/ag_abi/seiler/caroline_SRA/fasta/")

In [45]:
row_list = []
filename = os.path.join(path, "counts.txt")
with open(filename, "r") as f:
    while True:
        row_dict = {}
        file = f.readline();
        count = f.readline();
        if not count: break
        [original, split] = re.findall('\d+', file)
        row_dict["ID"] = int(original.strip())
        row_dict["bin"] = int(split.strip())
        row_dict["count"] = int(count.strip())
        row_list.append(row_dict)

In [46]:
df = pd.DataFrame(row_list)

In [47]:
df = df.sort_values(by=['ID', 'bin'])

In [48]:
df = df[["ID",
         "bin", 
         "count"]]

In [49]:
df

     ID  bin     count
0     0    0  40771461
1     0    1  43358192
2     0    2  43997608
3     0    3  43139078
83    1    0  50401375
84    1    1  56836337
85    1    2  39871428
86    1    3  62022175
87    1    4   8191897
88    1    5  41706085
126   2    0  51000566
127   2    1  56243552
128   2    2  49699801
129   2    3  46903239
130   2    4  20030199
131   2    5  36209526
176   3    0  46157549
177   3    1  40212029
178   3    2  45798645
179   3    3  63803200
180   3    4   9347443
224   4    0  56711475
225   4    1  77295830
226   4    2  26441229
227   4    3  29824268
228   5    0   6033431
229   5    1  18842881
230   5    2  47090864
231   5    3  67219070
232   5    4  65071509
..   ..  ...       ...
194  44    0  34891772
195  44    1  39044753
196  44    2   2099920
197  44    3  59373642
198  45    0  43404133
199  45    1  39110467
200  45    2  47991733
201  45    3  50326983
202  45    4   6601964
203  45    5  35926198
204  45    6  53819719
205  45    7  39127548
206  46    0  42861148
207  46    1  43017267
208  46    2  46045720
209  46    3  33096438
210  47    0  40541305
211  48    0  48950329
212  48    1  54970089
213  48    2  54112761
214  48    3  16731562
215  49    0  10387417
216  49    1  18482724
217  49    2  50949911
218  49    3  21528255
219  49    4  61846946
220  49    5  23223881
221  49    6  44955000
222  49    7  51186452
223  49    8  62515971

[255 rows x 3 columns]

In [51]:
df.to_csv(os.path.join(path, "counts_k19_w24.tsv"), sep='\t', index=False)